body {
  background-color: #F1F1F1;
  font-size: 16px;
  font-family: sans-serif;
}



/** HEADER **/

#header-nav {
  background-color: #DBFFE4;
  border-radius: 0;
}

.navbar-nav {
    margin-bottom: 0 ;
    margin-top: 0 ;
}

.navbar-brand h1 { 
  font-family: serif;
  color: #555;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-collapse ul{
	background-color: #E4FFF6;

}

/*  END HEADER */


/* SECCION HOME */
#menu{
  margin-right: -15px;
  margin-left: -15px;
}
#menu > div > section{
	background-color: #FCFFE7;
  margin: 15px auto;
  padding: 25px;
  height: 700px;
	overflow: auto;
}

#menu > div > section > h3{
  font-size: 1.4em;
  font-weight: bold;
}



@media (max-width: 767px) {
  #menu > div > section{
    margin: 15px 20px;
  }
}